@model VHaaSh.API.Modals.Database_Models.TblMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Member Details</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Details</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container py-5">
    <h4>TblMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjuryDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjuryDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblBatch.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblBatch.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblBloodDetail.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblBloodDetail.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblCity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblCorporateMembership.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCorporateMembership.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblGender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblGender.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblLevel.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblLevel.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblMembership.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblMembership.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblStaff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblStaff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblState.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblState.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblStaff1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblStaff1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
