@model IEnumerable<VHaaSh.API.Modals.Database_Models.TblMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Our Members</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Member List</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container py-5">
    <h2>Index</h2>

    <table class="table table-condensed table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DietPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InjuryDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBatch.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBloodDetail.BloodGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblCity.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblCorporateMembership.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGender.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblLevel.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblMembership.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblStaff.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblState.Name)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BMI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DietPlan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InjuryDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfilePhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblBatch.Activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblBloodDetail.BloodGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblCity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblCorporateMembership.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblGender.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblLevel.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblMembership.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblStaff.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TblState.Name)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>