@model VHaaSh.API.Modals.Database_Models.TblCorporateMembership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    >
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">CorporateMemberships Details</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Details</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container py-5">
    <h4>TblCorporateMembership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration__mm_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration__mm_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
