@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <div class="editor-label">
                @Html.Label("Current Password")
            </div>
            <div class="editor-field">
                @Html.Password("currentPassword")
                @Html.ValidationMessage("currentPassword")
            </div>
            <div class="editor-label">
                @Html.Label("New Password")
            </div>
            <div class="editor-field">
                @Html.Password("newPassword")
                @Html.ValidationMessage("newPassword")
            </div>
            <div class="editor-label">
                @Html.Label("Confirm New Password")
            </div>
            <div class="editor-field">
                @Html.Password("confirmNewPassword")
                @Html.ValidationMessage("confirmNewPassword")
            </div>
        </div>
        <p>
            <input type="submit" value="Change Password" />
        </p>
    }
</body>
</html>
