<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FatToFit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/NewFreeTemplate/img/favicon.ico" rel="icon">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="~/NewFreeTemplate/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/NewFreeTemplate/css/style.min.css" rel="stylesheet">

    @*//js added*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</head>
<body class="bg-white">
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="" class="navbar-brand">
                <h1 class="m-0 display-4 font-weight-bold text-uppercase text-white">Gymnast</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4 bg-secondary">
                    @Html.ActionLink("Home", "Index", "Default" ,null, new { @class = "nav-item nav-link customLink" })
                    @Html.ActionLink("About", "About","Default" ,null, new { @class = "nav-item nav-link customLink" })
                    @Html.ActionLink("Our Features", "feature", "Default", null, new { @class = "nav-item nav-link customLink" })
                    @Html.ActionLink("Classes", "Class", "Default", null, new { @class = "nav-item nav-link customLink" })
                    @Html.ActionLink("Contact", "Contact", "Default", null, new { @class = "nav-item nav-link customLink" })
                    @Html.ActionLink("Login", "", "Default", null, new { @class = "nav-item  nav-link text-White " })
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-item nav-link text-White " })
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <div>
        @RenderBody()
    </div>


    <!-- Footer Start -->
    <div class="footer container-fluid mt-5 py-5 px-sm-3 px-md-5 text-white">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Sinhgad road,Pune</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+91 8888855555</p>
                <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    @*<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Features</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Classes</a>
        <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>*@

                    @Html.ActionLink("Home", "Index", "Default", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("About", "About", "Default", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Our Features", "feature", "Default", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Classes", "Class", "Default", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Contact", "Contact", "Default", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Popular Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    @*<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Features</a>
        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Classes</a>
        <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>*@

                    @Html.ActionLink("Trainers", "Index", "Trainers", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Batches", "Index", "Batches", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Offers", "Index", "OfferDetails", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Events", "Index", "EventDetails", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                    @Html.ActionLink("Holidays", "Index", "HolidayDetails", null, new { @class = "text-white mb-3 fa fa-angle-right mr-2" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Opening Hours</h4>
                <h5 class="text-white">Monday - Friday</h5>
                <p>6.00 AM - 10.00 PM</p>
                <h5 class="text-white">Saturday - Sunday</h5>
                <p>Holiday</p>
            </div>
        </div>
        <div class="container border-top border-dark pt-5">
            <p class="m-0 text-center text-white">
                &copy; <a class="text-white font-weight-bold" href="#">FatToFit Glance</a>. All Rights Reserved. Designed by
                <a class="text-white font-weight-bold" href="https://htmlcodex.com">TEAM 8</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/NewFreeTemplate/lib/easing/easing.min.js"></script>
    <script src="~/NewFreeTemplate/lib/waypoints/waypoints.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/NewFreeTemplate/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/NewFreeTemplate/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/NewFreeTemplate/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('a').click(function () {
                $('a.customLink.active').removeClass("active");
                $(this).addClass("active");
            });
        });

        $('a').click(function () {
            $(this).addClass('active');
        });


    </script>
</body>
</html>
